#logo{
	height: 200%;
	margin-top: -11px;
	margin-left: -10%;

}


#album{


	width: 40px;
	height: 40px;

}


.foto{

	width:200px; 
	height:200px; 
	float:left; 
	border-radius:20% 50%; 
	margin-bottom:50px; 
	margin-top:10px;";
}

body {
	background-image:url("/images/background_home.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p{
	text-align: justify;
}

.titulo-collapse{

	font-weight: bold;
}

#head{
	color: #333;
    background-color: #edeeef;
    border-color: #ddd;
}


a{
	font-family:inherit;
	font-weight:500;
	color:inherit
}

.container2{
	background: rgba(225, 225, 225, .91);
	margin-right: auto;
    margin-left: auto;
}

body {
	color: black;
}

a.navbar-brand {
	color:black;
}

ul.nav a{color:black !important;}


.mySlides {
	width: 100%;
	height: 600px;
}


.btn-compra{
    background-color: #ff6900;
    border: medium none;
    color: #fff;
    padding: 8px 25px;
    border-radius: 10px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
}

.btn-compra:hover {
    background-color: #F26B0C;
    color: white;
}

.btn-download{
	background-color: #171717;
    border: medium none;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
}

.btn-download:hover {
    background-color: #262524;
    color: white;
}




.hit-the-floor {

  text-align:left;
  font-size:4em;
  color:#797C7D;
  letter-spacing: -2px;
  font-weight:900;
  text-transform:uppercase;
  text-shadow:0px 0px 1px #C5C8C9,
      0px 0px 7px #fff;
}

td{

	font-family: Verdana;

    vertical-align:middle;
}



