#logo{
	height: 200%;
	margin-top: -11px;
	margin-left: -10%;

}


#album{

	height: 6%; 

}


.foto{

	width:200px; 
	height:200px; 
	float:left; 
	border-radius:20% 50%; 
	margin-bottom:50px; 
	margin-top:10px;";
}

p{
	text-align: justify;
}

.titulo-collapse{

	font-weight: bold;
}

#head{
	color: #333;
    background-color: #edeeef;
    border-color: #ddd;
}


a{
	font-family:inherit;
	font-weight:500;
	color:inherit
}

.container2{
	background: rgba(225, 225, 225, .9);
	margin-right: auto;
    margin-left: auto;
}
